{% extends 'index.html' %}
{% load static %}
{% block content %}
<html>

<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <style>
        .leaflet-container {
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            height: 50vh;
            width: 100%;
            /*
            padding: 20px 20px 20px 20px;
            */
        }
    </style>
</head>

<body>

    <div id="map"></div>

    <!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
        <script src="../src/HeatLayer.js"></script> -->

    <script src="{% static 'js/leaflet-heat.js' %}"></script>

    <!--<script src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.10000.js"></script>-->
    <script>
        var map = L.map('map');
        map.setView([65.24751, 14.23828], 5);
        var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);

        // addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
        // console.log(addressPoints);
        // var heat = L.heatLayer(addressPoints).addTo(map);

        var newPoints = {{ coordinates }};

        if (1 < newPoints.length) {
            var heat = L.heatLayer(newPoints).addTo(map);
        } else {
            console.log('empty coordinates array');
        }


    </script>
    <div class="highlight-blue" style="background-color: rgb(255,255,255);">
        <div class="container"></div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Road Classifier</h2>
                <p class="text-center">Check the condition of your local road.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box h-100"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Upload Images</h3>
                        <p class="description">Provide road images coupled with coordinates in the metadata to render a condition predicton   
                        </p><a href="{% url 'base:upload' %}" class="learn-more">Upload here »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box h-100"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Check the status of your upload</h3>
                        <p class="description">Processing images takes time. Click here to see the current status of your query.</p><a href="#" class="learn-more">Check status »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box h-100"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Getting started</h3>
                        <p class="description">Looking for a quick getting started guide? Head over to the information page</p><a href="#" class="learn-more">Learn more »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-clean"></div>
</body>
</html>
{% endblock %}