{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/static/assets/css/guide.css">
<div class="guide">
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <h1 class="font-weight-light">Getting started</h1>
                        <p class="lead">A quick guide to get you started using Road Classifier</p>
                    </div>
                </div>
            </div>
    </header>
    <body>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box h-100">
                    <p class="title">First step</p>
                    <p class="description">
                        The first thing required is a folder containing images in .jpg format.
                        We have trained the model to identify distresses in the road surface from images
                        taken at 30 degrees angle from the dashboard and onto the road. Therefore it is
                        recommended to use similar approach when taking new images to get best results.
                        For the model to be able to plot a the density of damage in the map, all images must
                        be have a GPS-metadata section with GPS data in DMS format.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box h-100">
                    <p class="title">Second step</p>
                    <p class="description">
                    When a folder with images has been uploaded, a script will
                    fetch each image, send it to a docker-api and return the labeled XML information.
                    The XML information will then be paresed and the number of cracks for each image will be retrieved.
                    Note that this process can take anywhere from 5 to 25 seconds per image, so large folders will 
                    take some time.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                    <div class="box h-100">
                        <p class="title">Finally</p>
                        <p class="description">
                        Once the model has predicted each image in the uploaded folder, it will 
                        plot the frequency and intensity of damage of the road surface as a heat-map. 
                        You can now go to the "map" section of the page and inspect the road network for large areas.
                        </p>
                    </div>
                </div>
            </div>
    </body>
    {% endblock %}