.guide {
color: #313437;
background-color: #eef4f7;
}
.guide .item .box {
text-align: center;
padding: 30px;
background-color: #fff;
margin-bottom: 30px;
}

.guide h2 {
font-weight: bold;
margin-bottom: 40px;
padding-top: 40px;
color: inherit;
}

@media (max-width:767px) {
.guide h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
}
}

.guide .intro {
font-size: 16px;
max-width: 500px;
margin: 0 auto;
}

.guide .intro p {
margin-bottom: 0;
}

.guide .people {
padding: 50px 0;
}

.guide .item {
text-align: center;
}

.guide .item .box {
text-align: center;
padding: 30px;
background-color: #fff;
margin-bottom: 30px;
}
.guide .item .box{
text-align: Left;
padding: 30px;
background-color: #fff;
margin-bottom: 30px;
}
.guide .item .name {
font-weight: bold;
margin-top: 28px;
margin-bottom: 8px;
color: inherit;
}

.guide .item .title {
text-transform: uppercase;
font-weight: bold;
color: #d0d0d0;
letter-spacing: 2px;
font-size: 13px;
}

.guide .item .description {
font-size: 15px;
margin-top: 15px;
margin-bottom: 20px;
}

.guide .item img {
max-width: 160px;
}

.guide .social {
font-size: 18px;
color: #a2a8ae;
}

.guide .social a {
color: inherit;
margin: 0 10px;
display: inline-block;
opacity: 0.7;
}

.guide .social a:hover {
opacity: 1;
}

.guide .masthead {
    height: 50vh;
    background-image: url('../images/road_boxes_detection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }