{% extends 'index.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="/static/assets/css/Login-Form-Clean.css">
</head>
<body>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="fa fa-key icon"></i></div>
            <div class="form-group"><input class="form-control" type="username" name="Username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Forgot your username or password?</a></form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
{% endblock %}