{% extends 'index.html' %}

{% load static %}

{% block content %}

<html>
    <head>
        <title>Upload pictures</title>
        <link href="{% static 'css/imgUpload/imgUpload.css' %}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <form class="dropzone" action="{% url 'base:upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
        <script src="{% static 'js/dropzone.js' %}"></script>
    </body>
</html>

{% endblock %}