.page-header {
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    padding: 15px 15px 15px 15px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    padding: 20px;
    font-size: 36pt;
    text-decoration: none;
}

h2 a, h2 a:visited, h2 a:active, h2 a:hover {
    color: rgb(0, 0, 0);
    padding: 20px 20px 20px 40px;
    text-decoration: none;
}

h4 b, h4 b:visited, h4 b:active {
    color: rgb(255, 255, 255);
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

h4 b:hover {
    cursor: pointer;
} 

 /* Remove the navbar's default margin-bottom and rounded borders */
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #ffffff;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.page-content {
    background-color: #f1f1f1;
    padding: 0;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}