{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/base/base.css' %}">

    </head>

    <body>
        <div class='page-header'>
            <title>Road classifier</title>
            <h1>Road classifier</h1>

            <h4>
                <b onclick="location.href='{% url 'home:map' %}'"><i class='fa fa-map'> Map</i></b>
                <b onclick="location.href='{% url 'home:upload' %}'"><i class='fa fa-folder'> Upload</i></b> 
            </h4>

        </div>

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>