{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Classifier of </title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>

<body style="height: 800px;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="{% url 'base:home' %}">Road Classifier</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'base:home' %}">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'base:map' %}">Map</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'base:upload' %}">Upload</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'base:guide' %}">Getting Started</a></li>
                    </ul><span class="navbar-text actions"> <a href="{% url 'base:login' %}" class="login">Log In</a>
        </nav>
    </div>
    {% block content %} 
    {% endblock %}
    <div class="footer-basic">
        <footer>
            <div class="social"></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'base:home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'base:about' %}">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"></li>
            </ul>
            <p class="copyright">Company Name © 2019</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>