{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/static/assets/css/Team-Boxed.css">
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">A bunch of dudes doing BSC</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <img class="rounded-circle" src="/static/images/thinking.png">
                        <h3 class="name">Eirik Gustafsson Gribbestad</h3>
                        <p class="title">Lead web developer</p>
                        <p class="description">3rd year automation engineering student. A jolly good fella and beef connoisseur</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                            <img class="rounded-circle" src="/static/images/thinking.png">
                        <h3 class="name">Sivert Løken</h3>
                        <p class="title">Front-end and auto-encoder engineer</p>
                        <p class="description">3rd year automation engineering student. Fond of both memes and dark themes.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                            <img class="rounded-circle" src="/static/images/thinking.png">
                        <h3 class="name">Ole-martin Steinnes</h3>
                        <p class="title">Object-detection engineer</p>
                        <p class="description">3 year automation engineering student. Sworn to linux, slave to the console. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}