{% extends 'index.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <style>
      .leaflet-container {margin-left:auto; 
                            margin-right:auto; 
                            margin-top:auto;
                            margin-bottom: auto;
                            height: 100%; 
                            width: 100%; 
                            padding: 20px 20px 20px 20px;}
    </style>
</head>
<body>

<div id="map"></div>

<!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
<script src="../src/HeatLayer.js"></script> -->

<script src="{% static 'js/leaflet-heat.js' %}"></script>

<!--<script src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.10000.js"></script>-->
<script>
var map = L.map('map');
map.setView([65.24751, 14.23828], 5);
var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);

// addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
// console.log(addressPoints);
// var heat = L.heatLayer(addressPoints).addTo(map);

var newPoints = {{ coordinates }};

if (1 < newPoints.length) {
  var heat = L.heatLayer(newPoints).addTo(map);
} else {
  console.log('empty coordinates array');
}


</script>
</body> 
</html>
{% endblock %}